.arte-page {
  position: relative;
}

.arte-scene {
  overflow: hidden;
  background: #fff;
}

.arte-scene-timeline {
  overflow: hidden;
}

.arte-scene-state-list {
  overflow: hidden;
  position: relative;
}

.arte-scene-state-list .vsize {
  width: 100vh;
  height: 100vw;
}

.arte-scene-state {
  position: absolute;
}

.arte-scene-timeline-vsize {
  height: 100vh;
  width: 100vw;
}